<div class = "container center">
<div class = "row">
<div class = "col-sm-12">
<h1>Eat-Da-Burger!</h1>

<h2>Undevoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
      <button data-devour="{{this.burger}}" class="add">Devour!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<!--<form action="/" method="POST">-->

<form class="create-form">
	<textarea type="text" id = "burg" name="undevoured"></textarea>

	<button type="submit" class = "sub">Submit</button>
</form>

</div>
</div>
</div>